<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> welcome to bdpa 2025 </h1>
      <h2>my name is kendra</h2>
    
<img src="images/bdpalogo.png">
    <p>this page will be an intro to the hscc program <%= title %></p>
    <h2> hyperlinks </h2>
    <ol>
<li> bdpa national <a href= "http://www.bdpa.org">link</a></li>
<li> bdpa milwukee <a href= "http://www.bdpamke.org">link</a></li><
<li> w3school <a href= "http://www.w3schools.com">link</a></li>
<li>bdpa history <a href= "/bdpa history">link</a></li>
<li> founders of bdpa:</li>
  <li> founding year of bdpa 1975:</li>
<li> first chapter(s):</li>
<li> first bdpa conference year and venue:</li>
<li> first hscc year and venue:</li>
<li> most recent venue and winter hscc:</li>
<li> current national president and vp:</li>
<li> cureent chapter president and vp derry carter:</li>
<li> year and refounder of milwaukee chapter reactivation :</li>
  </ol>
  </body>
</html>
