<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
<!-- this is our horizontal navbar -->
<ul class="menu">
<li><a



    <h1> welcome to bdpa 2025 
      <h2>my name is kendra</h2>
    </h1>
    <p>this page will be an intro to the hscc program <%= title %></p>
    <h2> hyperlinks </h2>
    <ul>
<li> bdpa national <a href= "http://www.bdpa.org">link</a></li>
<li> bdpa milwukee <a href= "http://www.bdpamke.org">link</a></li>
<li> w3school <a href= "http://www.w3schools.com">link</a></li>
w3school <a href= "/bdpa history">link</a></li

    </ul>
  </body>
</html>
